<div class="topbar-custom">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
        <li>
          <button class="button-toggle-menu nav-link" type="button" aria-label="Alternar menu">
            <i data-feather="menu" class="noti-icon"></i>
          </button>
        </li>
        <li class="d-none d-lg-block">
          <h5 class="mb-0">Painel operacional</h5>
        </li>
      </ul>

      <ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
        <li class="d-none d-sm-flex">
          <button type="button" class="btn nav-link" data-toggle="fullscreen" aria-label="Tela cheia">
            <i data-feather="maximize" class="align-middle fullscreen noti-icon"></i>
          </button>
        </li>
        <li class="d-none d-sm-flex">
          <button type="button" class="btn nav-link" id="light-dark-mode" aria-label="Alternar tema">
            <i data-feather="moon" class="align-middle dark-mode"></i>
            <i data-feather="sun" class="align-middle light-mode"></i>
          </button>
        </li>
        <li class="dropdown notification-list topbar-dropdown">
          <a class="nav-link dropdown-toggle nav-user me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <span class="avatar-sm rounded-circle bg-primary-subtle text-primary d-inline-flex align-items-center justify-content-center">
              <i data-feather="user" style="height: 18px; width: 18px;"></i>
            </span>
            <span class="pro-user-name ms-1">{{ request.user.get_username }} <i class="mdi mdi-chevron-down"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end profile-dropdown">
            <div class="dropdown-header noti-title">
              <h6 class="text-overflow m-0">Smart Control Brasil</h6>
            </div>
            <a href="{% url 'admin:index' %}" class="dropdown-item notify-item">
              <i class="mdi mdi-shield-account-outline fs-16 align-middle"></i>
              <span>Administração Django</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
